<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Should be added to the app's manifest file
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    -->

    <application>
        <service
            android:name="s4y.gps.sdk.android.GPSUpdatesForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />
        <!-- Should be added to the app's manifest file
            <receiver
                android:name=" s4y.gps.sdk.android.BootReceiver"
                android:enabled="true"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.BOOT_COMPLETED" />
                </intent-filter>
            </receiver>
        -->
    </application>
</manifest>